.modal {
	background: url('./modal_screen.jpg');
	display:inline-block;
	flex-wrap: wrap;
	margin: auto;
	height: 600px;
	padding: 20px;
}

.loginModal {
	width: 50%;
}

.upload-cell {
	height: 230px;
	width: 330px;
}

.picHolder {
	height: 200px;
	width: 200px;
	margin: auto;
}

.cultureLink {
	height: 45px;
}

.header {
	margin-bottom: 10px;
	background-color: #a3fda7;
	padding: 3%;
}

.headerTitle {
	font-size: 3em;
	color: #990000;
	padding: 3%;
	padding-bottom: 15px;
}

.pageDiv {
	padding: 2%;
	margin: 10px 10px;
	text-align: center;
	border-radius: 5px;
}

.pageNum {
	background-color: #fda3fb;
	transition: 0.3s;
}

.pageNum:hover {
	background-color: #e465e2;
}

.currPage {
	background-color: #b574b2;
	color: white;
}

.headerSub {
	font-size: 2em;
	margin-left: 30px;
	margin-bottom: 5px;
}

.headerSub, .ethnTab {
	border: solid #b3b1b0;
	border-radius: 5px;
	padding: 5px;
}

.ethnTab {
	margin: 5px;
}

.headerSub:hover, .ethnTab:hover {
	background-color: #b3b1b0;
}

.footer {
	margin-top: 50px;
	/*margin-bottom: 15px;*/
	background-color: #fdd1a3;
	padding-top: 15px;
	padding-bottom: 15px;
}

.icon {
	margin: auto;
}

.linkItem {
	margin: 5px 10px;
	border-radius: 5px;
}

.related {
	color: white;
	background-color: #449645;
	padding-left: 3%;
	padding-right: 3%;
	margin-top: 20px;
	margin-bottom: 20px;
}

.mainContent {
	padding: 50px 3%;
}

.contentPanel {
	background-color: #e6e4e2;
	border-radius: 5px;
}

.headerBtn {
	border: solid #65e46b;
	border-radius: 5px;
	margin-bottom: 10px;
	padding-left: 3px;
}

.headerBtn:hover {
	background-color: #65e46b;
}

.titleRow {
	margin-bottom: 10px;
}

.ethnRow {
	margin: 10px 0px;
}

.sticky {
	position: fixed;
	top: 0;
	width: 100%;
}