.modal {
	background: url('./modal_screen.jpg');
	display:inline-block;
	flex-wrap: wrap;
	/*width: 700px;*/
	margin: auto;
	height: 600px;
	padding: 20px;
}

.loginModal {
	width: 50%;
}

.upload-cell {
	height: 230px;
	width: 330px;
}

.picHolder {
	height: 200px;
	width: 200px;
	margin: auto;
}

.cultureLink {
	height: 45px;
}

.header {
	margin-bottom: 10px;
	background-color: #a3fda7;
	padding: 3%;
	/*hover on text: #65e46b*/
}

.headerTitle {
	font-size: 3em;
	color: #990000;
}

.headerSub {
	font-size: 2em;
	padding-left: 30px;
}

.footer {
	margin-top: 50px;
	/*margin-bottom: 15px;*/
	background-color: #fdd1a3;
	padding: 3%;
}

.pageDiv {
	padding: 2%;
	margin: 10px 30px;
	text-align: center;
	border-radius: 5px;
}

.pageNum {
	background-color: #fda3fb;
	transition: 0.3s;
}

.pageNum:hover {
	background-color: #e465e2;
}

.currPage {
	background-color: #b574b2;
}

.icon {
	margin: auto;
}

.linkItem {
	margin: 5px 10px;
	border-radius: 5px;
}

.related {
	color: white;
	background-color: #449645;
	padding-left: 3%;
	padding-right: 3%;
	margin-top: 20px;
	margin-bottom: 20px;
}

.mainContent {
	padding-left: 3%;
	padding-right: 3%;
}

.contentPanel {
	background-color: #e6e4e2;
	border-radius: 5px;
	/*#b3b1b0 for hover on subject or culture*/
}