.modal {
	background: no-repeat url('./modal_screen.jpg');
	display:inline-block;
	flex-wrap: wrap;
	width: 700px;
	height: 600px;
	padding: 20px;
}

.upload-cell {
	height: 230px;
	width: 330px;
}

.picHolder {
	height: 200px;
	width: 200px;
	margin: auto;
}

.cultureLink {
	height: 45px;
}

.header {
	margin-bottom: 10px;
}

.headerTitle {
	font-size: 3em;
	color: #990000;
}

.headerSub {
	font-size: 2em;
	padding-left: 30px;
}

.footer {
	margin-top: 50px;
	/*margin-bottom: 15px;*/
	background-color: #fdd1a3;
	padding-top: 15px;
	padding-bottom: 15px;
}

.icon {
	margin: auto;
}

.linkItem {
}